<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/JumpMonitor" version="1.0.0" viewmodes="maximized">
    <tizen:application id="592kkzn5Lw.JumpMonitor" package="592kkzn5Lw" required_version="5.5"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/humanactivitymonitor"/>
    <feature name="http://tizen.org/feature/sensor.pedometer"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <feature name="http://tizen.org/feature/sensor.gravity"/>
    <icon src="icon.png"/>
    <name>JumpMonitor</name>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:profile name="wearable"/>
</widget>
